@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */
body{
	@apply font-light text-black
}

@font-face {
    font-family: "carrefour-icon";
    src: url("../fonts/carrefour-icon.eot?cgfwea");
    src: url("../fonts/carrefour-icon.eot?cgfwea#iefix") format("embedded-opentype"), url("../fonts/carrefour-icon.ttf?cgfwea") format("truetype"), url("../fonts/carrefour-icon.woff?cgfwea") format("woff"), url("../fonts/carrefour-icon.svg?cgfwea#carrefour-icon") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: "carrefour-icon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-passport:before {
    content: ""
}

.icon-around:before {
    content: ""
}

.icon-clock:before {
    content: ""
}

.icon-card-pass:before {
    content: ""
}

.icon-check:before {
    content: ""
}

.icon-direction:before {
    content: ""
}

.icon-phone:before {
    content: ""
}

.icon-close:before {
    content: ""
}

.icon-search:before {
    content: ""
}

.icon-ubication:before {
    content: ""
}

.icon-google:before {
    content: ""
}

.icon-arrow-left:before {
    content: ""
}

.icon-arrow-right:before {
    content: ""
}

.icon-alert:before {
    content: ""
}

.icon-calendar:before {
    content: ""
}

.icon-arrival:before {
    content: ""
}

.icon-departure:before {
    content: ""
}

.icon-pass:before {
    content: ""
}

.icon-tourist:before {
    content: ""
}

.icon-instagram:before {
    content: ""
}

.icon-linkedin:before {
    content: ""
}

.icon-plane:before {
    content: ""
}

.icon-pinterest:before {
    content: ""
}

.icon-top:before {
    content: ""
}

.icon-down:before {
    content: ""
}

.icon-respect:before {
    content: ""
}

.icon-star:before {
    content: ""
}

.icon-twitter:before {
    content: ""
}

.icon-youtube:before {
    content: ""
}

.icon-facebook:before {
    content: ""
}

.icon-more:before {
    content: ""
}

.icon-less:before {
    content: ""
}

.icon-tooltip:before {
    content: ""
}

.icon-menu:before {
    content: ""
}

.icon-edit:before {
    content: ""
}

.icon-train:before {
    content: ""
}

.icon-suitcase:before {
    content: ""
}

.icon-city:before {
    content: ""
}

.icon-menu:before {
    content: ""
}

.icon-site-paid:before {
    content: ""
}

.icon-site-extra:before {
    content: ""
}

.icon-site-free:before {
    content: ""
}

.icon-toilet:before {
    content: ""
}

.icon-exit-left:before {
    content: ""
}

.icon-exit-right:before {
    content: ""
}

.icon-logo-viajes-short:before {
    content: ""
}

.icon-email:before {
    content: ""
}

.icon-warranty:before {
    content: ""
}

.icon-close-bordered:before {
    content: ""
}

.icon-thumb-up-emphasized:before {
    content: ""
}

.icon-thumb-up:before {
    content: ""
}

.icon-card-credit:before {
    content: ""
}

.icon-luggage-not-included:before {
    content: ""
}

.icon-step-details:before {
    content: ""
}

.icon-step-data:before {
    content: ""
}

.icon-step-payment:before {
    content: ""
}


@font-face {
    font-family: 'rrss';
    src: url(".../fonts/rrss.eot?xoyb82");
    src: url("../fonts/rrss.eot?xoyb82#iefix") format("embedded-opentype"),url("../fonts/rrss.ttf?xoyb82") format("truetype"),url("../fonts/rrss.woff?xoyb82") format("woff"),url("../fonts/rrss.svg?xoyb82#rrss") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^='vc-rrss-'],[class*=' vc-rrss-'] {
    font-family: 'rrss' !important;
    font-size: xx-large;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    padding-right: 5px;
    padding-left: 20px;
    text-transform: none;
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility
}

[class^='vc-rrss-'].vc-rrss-small,[class*=' vc-rrss-'].vc-rrss-small {
    font-size: 20px
}

[class^='vc-rrss-'].vc-rrss-medium,[class*=' vc-rrss-'].vc-rrss-medium {
    font-size: 24px
}

[class^='vc-rrss-'].vc-rrss-big,[class*=' vc-rrss-'].vc-rrss-big {
    font-size: 30px
}

[class^='vc-rrss-'].vc-rrss-large,[class*=' vc-rrss-'].vc-rrss-large {
    font-size: 30px
}

.vc-rrss-tiktok-button:before {
    content: "\0030"
}

.vc-rrss-tiktok:before {
    content: "\0030"
}

.vc-rrss-facebook:before {
    content: "\0031"
}

.vc-rrss-linkedin:before {
    content: "\0032"
}

.vc-rrss-instagram:before {
    content: "\0033"
}

.vc-rrss-twitter:before {
    content: "\0034"
}

.vc-rrss-youtube:before {
    content: "\0035"
}


@font-face {
    font-family: 'viajescarrefour';
    src: url("../fonts/viajescarrefour.eot?xoyb82");
    src: url("../fonts/viajescarrefour.eot?xoyb82#iefix") format("embedded-opentype"), url("../fonts/viajescarrefour.ttf?xoyb82") format("truetype"), url("../fonts/viajescarrefour.woff?xoyb82") format("woff"), url("../fonts/viajescarrefour.svg?xoyb82#viajescarrefour") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^='vc-icon-'],
[class*=' vc-icon-'] {
    font-family: 'viajescarrefour' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility
}

[class^='vc-icon-'].vc-icon-small,
[class*=' vc-icon-'].vc-icon-small {
    font-size: 20px
}

[class^='vc-icon-'].vc-icon-medium,
[class*=' vc-icon-'].vc-icon-medium {
    font-size: 24px
}

[class^='vc-icon-'].vc-icon-big,
[class*=' vc-icon-'].vc-icon-big {
    font-size: 30px
}

[class^='vc-icon-'].vc-icon-large,
[class*=' vc-icon-'].vc-icon-large {
    font-size: 30px
}

.vc-icon-accesible:before {
    content: ""
}

.vc-icon-accommodation:before {
    content: ""
}

.vc-icon-add-pin:before {
    content: ""
}

.vc-icon-add-star:before {
    content: ""
}

.vc-icon-adigital:before {
    content: ""
}

.vc-icon-agency:before {
    content: ""
}

.vc-icon-air-conditioner:before {
    content: ""
}

.vc-icon-all-included:before {
    content: ""
}

.vc-icon-app:before {
    content: ""
}

.vc-icon-arrow-down:before {
    content: ""
}

.vc-icon-arrow-first:before {
    content: ""
}

.vc-icon-arrow-last:before {
    content: ""
}

.vc-icon-arrow-left:before {
    content: ""
}

.vc-icon-arrow-right:before {
    content: ""
}

.vc-icon-arrow-up:before {
    content: ""
}

.vc-icon-attached:before {
    content: ""
}

.vc-icon-baby:before {
    content: ""
}

.vc-icon-back:before {
    content: ""
}

.vc-icon-basket:before {
    content: ""
}

.vc-icon-bell:before {
    content: ""
}

.vc-icon-best-warranty:before {
    content: ""
}

.vc-icon-blogger-button:before {
    content: ""
}

.vc-icon-boat:before {
    content: ""
}

.vc-icon-booking-card:before {
    content: ""
}

.vc-icon-booking:before {
    content: ""
}

.vc-icon-breakfast:before {
    content: ""
}

.vc-icon-business:before {
    content: ""
}

.vc-icon-calendar:before {
    content: ""
}

.vc-icon-canceled:before {
    content: ""
}

.vc-icon-cancelled-negative:before {
    content: ""
}

.vc-icon-car:before {
    content: ""
}

.vc-icon-carrefour-mini:before {
    content: ""
}

.vc-icon-carrefour:before {
    content: ""
}

.vc-icon-cdti-logo:before {
    content: ""
}

.vc-icon-checkbox-clicked-button:before {
    content: ""
}

.vc-icon-checkbox-clicked:before {
    content: ""
}

.vc-icon-checkbox:before {
    content: ""
}

.vc-icon-child:before {
    content: ""
}

.vc-icon-clip:before {
    content: ""
}

.vc-icon-city:before {
    content: ""
}

.vc-icon-close-button:before {
    content: ""
}

.vc-icon-close-thin:before {
    content: ""
}

.vc-icon-close:before {
    content: ""
}

.vc-icon-commission:before {
    content: ""
}

.vc-icon-comunication:before {
    content: ""
}

.vc-icon-conditions:before {
    content: ""
}

.vc-icon-confianzaonline:before {
    content: ""
}

.vc-icon-contact-header:before {
    content: ""
}

.vc-icon-contract:before {
    content: ""
}

.vc-icon-credit:before {
    content: ""
}

.vc-icon-t-credit:before {
    content: ""
}

.vc-icon-customer-care:before {
    content: ""
}

.vc-icon-description:before {
    content: ""
}

.vc-icon-detail:before {
    content: ""
}

.vc-icon-discount:before {
    content: ""
}

.vc-icon-documents:before {
    content: ""
}

.vc-icon-double:before {
    content: ""
}

.vc-icon-down:before {
    content: ""
}

.vc-icon-download:before {
    content: ""
}

.vc-icon-drag-document:before {
    content: ""
}

.vc-icon-dropdown:before {
    content: ""
}

.vc-icon-early-booking:before {
    content: ""
}

.vc-icon-eco-certificate:before {
    content: ""
}

.vc-icon-edit-list:before {
    content: ""
}

.vc-icon-edit:before {
    content: ""
}

.vc-icon-email-response1:before {
    content: ""
}

.vc-icon-email-response2:before {
    content: ""
}

.vc-icon-email-response3:before {
    content: ""
}

.vc-icon-email:before {
    content: ""
}

.vc-icon-entry:before {
    content: ""
}

.vc-icon-error-state:before {
    content: ""
}

.vc-icon-european-commission:before {
    content: ""
}

.vc-icon-exchange:before {
    content: ""
}

.vc-icon-exclamation:before {
    content: ""
}

.vc-icon-exit:before {
    content: ""
}

.vc-icon-eye:before {
    content: ""
}

.vc-icon-facebook:before {
    content: ""
}

.vc-icon-facilities:before {
    content: ""
}

.vc-icon-favourite-document:before {
    content: ""
}

.vc-icon-fax:before {
    content: ""
}

.vc-icon-filter:before {
    content: ""
}

.vc-icon-flicker-button:before {
    content: ""
}

.vc-icon-foursquare-button:before {
    content: ""
}

.vc-icon-full-board:before {
    content: ""
}

.vc-icon-garbage:before {
    content: ""
}

.vc-icon-googleplus:before {
    content: ""
}

.vc-icon-grid:before {
    content: ""
}

.vc-icon-group:before {
    content: ""
}

.vc-icon-half-board1:before {
    content: ""
}

.vc-icon-half-board2:before {
    content: ""
}

.vc-icon-hide:before {
    content: ""
}

.vc-icon-home:before {
    content: ""
}

.vc-icon-hotel:before {
    content: ""
}

.vc-icon-info:before {
    content: ""
}

.vc-icon-information:before {
    content: ""
}

.vc-icon-instagram-button:before {
    content: ""
}

.vc-icon-instagram:before {
    content: ""
}

.vc-icon-internet:before {
    content: ""
}

.vc-icon-invoice:before {
    content: ""
}

.vc-icon-like-hand:before {
    content: ""
}

.vc-icon-like:before {
    content: ""
}

.vc-icon-link:before {
    content: ""
}

.vc-icon-linkedin:before {
    content: ""
}

.vc-icon-list-map:before {
    content: ""
}

.vc-icon-list:before {
    content: ""
}

.vc-icon-loading2:before {
    content: ""
}

.vc-icon-location-header:before {
    content: ""
}

.vc-icon-location:before {
    content: ""
}

.vc-icon-logotipo-viajescarrefour-vertical:before {
    content: ""
}

.vc-icon-logout:before {
    content: ""
}

.vc-icon-low:before {
    content: ""
}

.vc-icon-mail-header:before {
    content: ""
}

.vc-icon-mail:before {
    content: ""
}

.vc-icon-map:before {
    content: ""
}

.vc-icon-mastercard:before {
    content: ""
}

.vc-icon-maximize-button:before {
    content: ""
}

.vc-icon-meneame-button:before {
    content: ""
}

.vc-icon-menu:before {
    content: ""
}

.vc-icon-messenger:before {
    content: ""
}

.vc-icon-minimize-button:before {
    content: ""
}

.vc-icon-minus:before {
    content: ""
}

.vc-icon-money:before {
    content: ""
}

.vc-icon-more:before {
    content: ""
}

.vc-icon-move-document:before {
    content: ""
}

.vc-icon-must-know:before {
    content: ""
}

.vc-icon-newsletter:before {
    content: ""
}

.vc-icon-next:before {
    content: ""
}

.vc-icon-no-date:before {
    content: ""
}

.vc-icon-no-filter:before {
    content: ""
}

.vc-icon-no-rated:before {
    content: ""
}

.vc-icon-no-refund:before {
    content: ""
}

.vc-icon-no-warranty:before {
    content: ""
}

.vc-icon-note:before {
    content: ""
}

.vc-icon-notification:before {
    content: ""
}

.vc-icon-offer:before {
    content: ""
}

.vc-icon-ok:before {
    content: ""
}

.vc-icon-pacifier:before {
    content: ""
}

.vc-icon-order:before {
    content: ""
}

.vc-icon-partner:before {
    content: ""
}

.vc-icon-pass-card:before {
    content: ""
}

.vc-icon-pass:before {
    content: ""
}

.vc-icon-password:before {
    content: ""
}

.vc-icon-payment:before {
    content: ""
}

.vc-icon-pdf:before {
    content: ""
}

.vc-icon-pdf-all:before {
    content: ""
}

.vc-icon-pdf-icon:before {
    content: ""
}

.vc-icon-pencil:before {
    content: ""
}

.vc-icon-pets:before {
    content: ""
}

.vc-icon-phone-header:before {
    content: ""
}

.vc-icon-phone:before {
    content: ""
}

.vc-icon-pin-location:before {
    content: ""
}

.vc-icon-pin:before {
    content: ""
}

.vc-icon-pinterest-button:before {
    content: ""
}

.vc-icon-pinterest:before {
    content: ""
}

.vc-icon-place:before {
    content: ""
}

.vc-icon-plane-hotel:before {
    content: ""
}

.vc-icon-plane:before {
    content: ""
}

.vc-icon-plane-lleego:before {
    content: "";
    font-size: 30px;
    position: absolute;
    top: 5px;
    left: 3px
}

.vc-icon-plus:before {
    content: ""
}

.vc-icon-pointer:before {
    content: ""
}

.vc-icon-portfolio-verify:before {
    content: ""
}

.vc-icon-portfolio:before {
    content: ""
}

.vc-icon-prebooking-state:before {
    content: ""
}

.vc-icon-previous:before {
    content: ""
}

.vc-icon-print:before {
    content: ""
}

.vc-icon-question:before {
    content: ""
}

.vc-icon-rated-00:before {
    content: ""
}

.vc-icon-rated-05:before {
    content: ""
}

.vc-icon-rated-10:before {
    content: ""
}

.vc-icon-rated-15:before {
    content: ""
}

.vc-icon-rated-20:before {
    content: ""
}

.vc-icon-rated-25:before {
    content: ""
}

.vc-icon-rated-30:before {
    content: ""
}

.vc-icon-rated-35:before {
    content: ""
}

.vc-icon-rated-40:before {
    content: ""
}

.vc-icon-rated-45:before {
    content: ""
}

.vc-icon-rated-50:before {
    content: ""
}

.vc-icon-rated-empty:before {
    content: ""
}

.vc-icon-rated-full:before {
    content: ""
}

.vc-icon-rated-medium:before {
    content: ""
}

.vc-icon-rated:before {
    content: ""
}

.vc-icon-refund:before {
    content: ""
}

.vc-icon-restaurant:before {
    content: ""
}

.vc-icon-resume:before {
    content: ""
}

.vc-icon-room:before {
    content: ""
}

.vc-icon-round-checkbox-button:before {
    content: ""
}

.vc-icon-sale:before {
    content: ""
}

.vc-icon-save:before {
    content: ""
}

.vc-icon-search-favourites:before {
    content: ""
}

.vc-icon-search:before {
    content: ""
}

.vc-icon-secure:before {
    content: ""
}

.vc-icon-services:before {
    content: ""
}

.vc-icon-settings:before {
    content: ""
}

.vc-icon-share-facebook:before {
    content: ""
}

.vc-icon-share-googleplus:before {
    content: ""
}

.vc-icon-share-twitter:before {
    content: ""
}

.vc-icon-share:before {
    content: ""
}

.vc-icon-show:before {
    content: ""
}

.vc-icon-single:before {
    content: ""
}

.vc-icon-social-media:before {
    content: ""
}

.vc-icon-spa:before {
    content: ""
}

.vc-icon-special-offer:before {
    content: ""
}

.vc-icon-star-empty:before {
    content: ""
}

.vc-icon-star-filled:before {
    content: ""
}

.vc-icon-star-medium:before {
    content: ""
}

.vc-icon-star:before {
    content: ""
}

.vc-icon-stars-0:before {
    content: ""
}

.vc-icon-stars-5:before {
    content: ""
}

.vc-icon-stars-10:before {
    content: ""
}

.vc-icon-stars-15:before {
    content: ""
}

.vc-icon-stars-20:before {
    content: ""
}

.vc-icon-stars-25:before {
    content: ""
}

.vc-icon-stars-30:before {
    content: ""
}

.vc-icon-stars-35:before {
    content: ""
}

.vc-icon-stars-40:before {
    content: ""
}

.vc-icon-stars-45:before {
    content: ""
}

.vc-icon-stars-50:before {
    content: ""
}

.vc-icon-suitcase:before {
    content: ""
}

.vc-icon-swarm-button:before {
    content: ""
}

.vc-icon-swimming-pool:before {
    content: ""
}

.vc-icon-time:before {
    content: ""
}

.vc-icon-timetable-header:before {
    content: ""
}

.vc-icon-train-hotel:before {
    content: ""
}

.vc-icon-train:before {
    content: ""
}

.vc-icon-transfer:before {
    content: ""
}

.vc-icon-travel:before {
    content: ""
}

.vc-icon-tripadvisor:before {
    content: ""
}

.vc-icon-trustly:before {
    content: ""
}

.vc-icon-tumbler-button:before {
    content: ""
}

.vc-icon-twitter:before {
    content: ""
}

.vc-icon-up:before {
    content: ""
}

.vc-icon-upload-document:before {
    content: ""
}

.vc-icon-url-certificate:before {
    content: ""
}

.vc-icon-user:before {
    content: ""
}

.vc-icon-verify-list:before {
    content: ""
}

.vc-icon-verify:before {
    content: ""
}

.vc-icon-viajescarrefour-logotipo:before {
    content: ""
}

.vc-icon-vimeo-button:before {
    content: ""
}

.vc-icon-visa-electron:before {
    content: ""
}

.vc-icon-visa:before {
    content: ""
}

.vc-icon-waiting:before {
    content: ""
}

.vc-icon-warning:before {
    content: ""
}

.vc-icon-warranty:before {
    content: ""
}

.vc-icon-waves:before {
    content: ""
}

.vc-icon-whatsapp-button:before {
    content: ""
}

.vc-icon-wifi:before {
    content: ""
}

.vc-icon-wrong:before {
    content: ""
}

.vc-icon-xls:before {
    content: ""
}

.vc-icon-youtube:before {
    content: ""
}

.vc-icon-amex:before {
    content: ""
}

.vc-icon-seat:before {
    content: ""
}

.vc-icon-aeroplane-up:before {
    content: ""
}

.vc-icon-aeroplane-down:before {
    content: ""
}

.vc-icon-t-target:before {
    content: ""
}

.vc-icon-times:before {
    content: "";
    color: #ffa219
}

.vc-icon-moon:before {
    content: ""
}

.vc-icon-map-poi:before {
    content: ""
}

.vc-icon-phone-operator:before {
    content: ""
}

.vc-icon-phone-operator-black:before {
    content: ""
}

.vc-icon-transfer-bus:before {
    content: ""
}

.vc-icon-hotel-bed:before {
    content: ""
}

.vc-icon-checked:before {
    content: ""
}

.vc-icon-tickets:before {
    content: ""
}

.vc-icon-aeroplane-right:before {
    content: ""
}

.vc-icon-credit-card:before {
    content: ""
}

.vc-icon-luggage-not-included:before {
    content: "" !important
}

footer{
	background-color: #333;
	.featured-links{
		ul{
			width: 100%;
			max-width: 1440px;
			margin: 0 auto;
		}
		background-image: url(../img/pattern-footer.png);
		[class^=vc-icon]:before {
		    font-size: 75px;
		}
		[class="vc-icon-pass-card"]:before {
		    font-size: 45px;
		}
	}
	.direct-links{
		.direct-links-container{
			margin: 10px auto;
			max-width: 1440px;
			box-sizing: border-box;
		}
		.flag-icon{
			width: 14px;
			height: 14px;
			padding-right: 3px;
			margin-bottom: 4px;
			display: inline-block;
		}
	}
	.direct-links-icon-item span {
    	font-size: 42px;
    	color:#333;
	}
	.direct-links-block .vc-icon-cdti-logo {
    	font-size: 32px;
	}
	.footer-end {
        max-width: 1440px;
        margin: 0 auto;
        display: -ms-flexbox;
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer-end .social-links {
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-order: 2;
        order: 2
    }
    .footer-end .legal-block {
        -ms-flex-positive: 5;
        flex-grow: 5;
        -ms-flex-order: 0;
        order: 0
    }
    .social-links a {
        color: #fff;
        font-size: 50px
    }

	.legal-block {
	    box-sizing: border-box;
	    background: #333
	}
	.legal-block a {
	    box-sizing: border-box;
	    color: #fff;
	    font-size: 14px
	}
	.legal-block a:hover {
	    text-decoration: underline
	}
	.legal-block li {
	    color: #fff;
	    font-size: 14px;
	    text-transform: uppercase;
	    font-weight: normal;
	}
	@media screen and (min-width: 1366px){
		.footer-end .legal-block {
		    -ms-flex-positive: 5;
		    flex-grow: 5;
		    -ms-flex-order: 0;
		    order: 0;
		}
	}
	@media screen and (min-width: 768px){
		.legal-block ul li {
		    -ms-flex-positive: 1;
		    flex-grow: 1;
		    margin-right: 50px;
		}
	}
}
header{
    flex-direction: row;
    .logo{
    	max-width:180px; 
    }
    .right-header{
        max-width: 70%;
    }
    .preheader{
        margin-bottom: 30px;
        .header-elements{
            li{
                a:after{
                    content:none;
                }
            }
        }
    }
    @media (max-width: 905px){
        .main-menu{
            display: none;
        }
    }
    @media (max-width: 550px){
        .preheader{
            display: none;
        }
        .logo-container{
            width: 100%;
            img{
                max-width: 200px;
                margin: 0 auto !important
            }
        }
    }
    .header-elements{
        float: right;
        flex-wrap: wrap;
         li{
            margin-left: 20px;
            margin-bottom: 10px;
            float:right;
        }
         li{
            a{
                text-transform: uppercase;
                font-size: .685rem;
                font-weight: 400;
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 0;
                    height: 2px;
                    margin: auto;
                    transition: all .2s ease-out;
                    @apply bg-blue-dark
                }
                &:hover{
                    &:after{
                        transition: all .2s ease-out;
                        width:100%;
                    }
                    @apply text-blue
                }
                @apply text-blue-dark
            }
        }
    }
}

.site-container{
    margin: 10px auto;
    max-width: 1440px;
    box-sizing: border-box;
}

.acf-map {
  width: 100%;
  height: 300px;
}

.acf-map img {
  max-width: inherit !important;
}

.columns-agencia{
	.column-1{
		width: 30%;
    	min-width: 30%;
	}
	.column-2{
		min-width: calc(60% - 2.5rem);
		.grid > div{
			height: 300px;
			img{
				object-fit:cover;
				height: 300px;
			}
		}
	}
}

.tags > span:not(:last-of-type):after{
	content:", ";
}

.promociones-block{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	overflow-x: scroll;
	scrollbar-width: none;
	.wrapper{
		display: flex;
		flex-wrap: wrap;
		@media (max-width: 768px){
			flex-wrap: nowrap;
		}
        justify-content: flex-start;
		> div{
            min-width: 33.33%;
            width: 33.33%;
			@media (max-width: 768px){
				min-width: 60%;
			}
            img{
                width: 100%;
            }
			@apply px-5
		}
		@apply -mx-5
	}
}

.cycle-slideshow{
	.nav{
		position: absolute;
		height: 40px;
		width: 40px;
		background: blue;
		z-index: 101;
		text-indent: -9999px;
		cursor: pointer;
		top: 0;
		margin: auto;
		bottom: 0;
	    background-size: 22px;
	    background-repeat: no-repeat;
	    background-position: center;
	    transform-origin: center;
		background-image: url(../img/chevron-white.svg);
		&.nav-prev{
			left:15px;
			transform: rotate(90deg);
		}
		&.nav-next{
			right:15px;
			transform: rotate(-90deg);
		}
		@apply bg-blue-dark
	}
}

.opinions{
    .wrapper{
        max-width: 200px;
        margin-right:15px;
    }
    .content-text{
        height: 100px;
        overflow: hidden;
        white-space: normal;
    }
    .star{
        height: 20px;
        width:20px;
        margin-right: 5px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/star.svg);
        &.star-half{
            background-image: url(../img/half-star.svg);
        }
    }
}

@media (max-width: 1470px){
    .site-container{
        padding-left: 15px;
        padding-right: 15px;
    }
}

.error-404.not-found{
    img{
        margin:0 auto;
        max-width: 800px
    }
}

#agencia-list{
    max-height: 700px;
}
@media (max-width: 980px){
    #map,
    #agencia-list{
        max-height: 70vh;
    }
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container .select2-selection--single .select2-selection__clear {
    background-color: transparent;
    border: none;
    font-size: 1em;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px;
}
.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline;
    list-style: none;
    padding: 0;
}
.select2-container .select2-selection--multiple .select2-selection__clear {
    background-color: transparent;
    border: none;
    font-size: 1em;
}
.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0;
}
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}
.select2-results {
    display: block;
}
.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0;
}
.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;
}
.select2-results__option--selectable {
    cursor: pointer;
}
.select2-container--open .select2-dropdown {
    left: 0;
}
.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select2-search--dropdown {
    display: block;
    padding: 4px;
}
.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.select2-search--dropdown.select2-search--hide {
    display: none;
}
.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0);
}
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 26px;
    margin-right: 20px;
    padding-right: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left;
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}
.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    padding-bottom: 5px;
    padding-right: 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 1px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 2px;
    padding-right: 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-right: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #999;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 4px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: #f1f1f1;
    color: #333;
    outline: none;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__display {
    padding-left: 5px;
    padding-right: 2px;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    border-left: 1px solid #aaa;
    border-right: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__clear {
    float: left;
    margin-left: 10px;
    margin-right: auto;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0;
}
.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
}
.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield;
}
.select2-container--default .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}
.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em;
}
.select2-container--default .select2-results__option--group {
    padding: 0;
}
.select2-container--default .select2-results__option--disabled {
    color: #999;
}
.select2-container--default .select2-results__option--selected {
    background-color: #ddd;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #5897fb;
    color: white;
}
.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
}
.select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}
.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb;
}
.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
}
.select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 26px;
    margin-right: 20px;
}
.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999;
}
.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}
.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left;
}
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto;
}
.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb;
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none;
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}
.select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0;
    padding-bottom: 5px;
    padding-right: 5px;
}
.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb;
}
.select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 2px;
    padding-right: 5px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #888;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 4px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555;
    outline: none;
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto;
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__display {
    padding-left: 5px;
    padding-right: 2px;
}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb;
}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0;
}
.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none;
}
.select2-container--classic .select2-dropdown {
    background-color: #fff;
    border: 1px solid transparent;
}
.select2-container--classic .select2-dropdown--above {
    border-bottom: none;
}
.select2-container--classic .select2-dropdown--below {
    border-top: none;
}
.select2-container--classic .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}
.select2-container--classic .select2-results__option--group {
    padding: 0;
}
.select2-container--classic .select2-results__option--disabled {
    color: grey;
}
.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #3875d7;
    color: #fff;
}
.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
}
.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb;
}

.buscador{
    .select2-container{
        width:100% !important;
    }
}

/* purgecss end ignore */